body {
	background-image:url("clouds.jpg");
	background-color: darkcream;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial;
	color: white;
}

 div {
	 color:black;
 }
 
 
ul {
	margin: 0;
	padding: 0;
	
}

ul li {
	float: left;
	width: 200px;
	height:40px;
	background-color: black;
	opacity: .9;
	line-height: 40px;
	text-align: center;
	list-style: none;
	margin-right: 1px;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li a:hover {
	background-color: gray;
}

ul li ul li {
	display: none;
}

ul li:hover ul li {
	display:block;
}

footer {
	background-color: black;
	padding: 50px;
	margin: 8px;
	color: black;
	position: auto;
	bottom: 0px;
}
